

<div id="pdfContent">
        <table *ngIf="approvedById_data !=null" class="table table-warning table-striped-columns">
            <tr>
                <th>Index No</th>
                <th>bankId No</th>
                <th>Branch</th>
                <th>Created Date</th>
                <th>Designation</th>
                <th>Email Id</th>
                <th>IFSC Code</th>
                <th>Mobile No</th>
                <th>Password </th>
                <th>Status</th>
                <th>User Address</th>
                <th>User Id </th>
                <th>Excel upload </th>
            </tr>
            <tr>
                <td>1</td>
                <td>{{approvedById_data.bankId}}</td>
                <td>{{approvedById_data.branch}}</td>
                <td>{{approvedById_data.createdDate}}</td>
                <td>{{approvedById_data.designation}}</td>
                <td>{{approvedById_data.email}}</td>
                <td>{{approvedById_data.ifscCode}}</td>
                <td>{{approvedById_data.mobileNo}}</td>
                <td>{{approvedById_data.password}}</td>
                <td>{{approvedById_data.status}}</td>
                <td>{{approvedById_data.userAddress}}</td>
                <td>{{approvedById_data.userID}}</td>
                <td>{{approvedById_data.excelUpload}}</td>
        
                
            </tr>
        </table> 
</div>

<button mat-button color="primary" (click)="getAllPendingData()">All Pending Data</button>

<table class="table table-warning table-striped-columns">
    <tr *ngIf="allPendingData !=null">
        <th>Index No</th>
        <th>bankId No</th>
        <th>Branch</th>
        <th>Created Date</th>
        <th>Designation</th>
        <th>Email Id</th>
        <th>IFSC Code</th>
        <th>Mobile No</th>
        <th>Password </th>
        <th>Status</th>
        <th>User Address</th>
        <th>User Id </th>
        <th>Excel upload </th>
        <th>Edit-status</th>
        
    </tr>
    <tr *ngFor="let stu of allPendingData; index as i">
        <td>{{i+1}}</td>

        <td>{{stu.bankId}}</td>
        <td>{{stu.branch}}</td>
        <td>{{stu.createdDate}}</td>
        <td>{{stu.designation}}</td>
        <td>{{stu.email}}</td>
        <td>{{stu.ifscCode}}</td>
        <td>{{stu.mobileNo}}</td>
        <td>{{stu.password}}</td>
        <td>{{stu.status}}</td>
        <td>{{stu.userAddress}}</td>
        <td>{{stu.userID}}</td>
        <td>{{stu.excelUpload}}</td>
        <td><button mat-button color="primary" (click)="getAprovedData(stu.userID)">Approve</button></td>
        <td><button mat-button color="primary" (click)="getRejectData(stu.userID)">Reject</button></td>
        
    </tr>
</table>  



<button mat-button color="primary" (click)="generatePdf()">generatePdf</button>