<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>

  <div class="container">
    <form [formGroup]="loginAdmin"  class="mat-typography" style="color: black;">
      <img src="https://w0.peakpx.com/wallpaper/889/251/HD-wallpaper-satyamev-jayate-bharat-civil-service-history-ias-india-indian-ips-lion-emblem-motivation.jpg"  alt="LOGO">
    <h1>Login Form</h1>
    <hr>
    
        <mat-form-field appearance="fill" >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter email">
         </mat-form-field>
      <br>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter password">
         </mat-form-field>
      <br>
  
      <div  class="text-center">
        <button mat-raised-button color="primary" (click)="mybutton()" type="submit">Submit</button>
      </div>
    </form>
</div> 
</body>
</html>



