body{
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: url('https://img.freepik.com/premium-vector/geometric-gradient-technology-background_23-2149110132.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1716940800&semt=ais_user');
  background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

   
   
  }
  form
  {
    width:  100vh;
    border: 1px solid  white;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    
  }
h1
{
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
  mat-form-field
  {
    /* background-color: red; */
    width: 100%;
  }

  .mat-form-field {
    max-width: 400px; /* Adjust maximum width as needed */
    margin-bottom: 20px; /* Add margin between form fields */
    width: 100%;
  }
  
  .drag-drop-area {
    border: 2px dashed #000000;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .drag-drop-area p {
    margin: 0;
  }
  #file
  {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  