
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <hr>
  <div class="container">
    <form [formGroup]="registerFirstAdminForm"  class="mat-typography" style="color: black;">
    <h1>Sign Up</h1>
    <hr>
    
        <mat-form-field appearance="fill" >
          <mat-label>Email</mat-label>
          <input matInput formControlName="userEmail" placeholder="Enter email">
         </mat-form-field>
      <br>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="userPass" placeholder="Enter password">
         </mat-form-field>
      <br>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="userMobile" placeholder="Enter mobile number">
   
      </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Birth-Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="userBirthDate">
      <mat-hint>MM-DD-YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
  <br>

      <div  class="text-center">
        <button mat-raised-button color="primary" (click)="mybutton()" type="submit">Submit</button>
      </div>
    </form>
</div> 
</body>
</html>


